
.mainbanner{
    margin: 10%;
}
.grid-container-1{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-item{
    margin: 25px;
}
.grid-item img{
    width: 100%;
    border-radius: 10px;
}
.grid-item h3{
    color: rgb(13, 13, 14);
    
}
.grid-item h1{
    font-size: 30px;
    margin: 25px 0px;
}
.grid-item p{
    font-size: 13px;
    color: #0a0a0a;
}
.container-12 {
    width: 90%;
    margin: 20px auto;
    background-color: whitesmoke;
}
